<div class="add-user-container">
    <h3>Add employee information</h3>
    <form class="add-user-form" #addUserForm="ngForm">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input 
                required 
                id="firstName" 
                name="firstName" 
                #firstName="ngModel" 
                type="text" 
                class="form-control" 
                [(ngModel)]="currentEmployee.firstName"
            >
            <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">First Name is required</div>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input 
                required 
                id="lastName" 
                name="lastName" 
                #lastName="ngModel" 
                type="text" 
                class="form-control" 
                [(ngModel)]="currentEmployee.lastName"
            >
            <div class="alert alert-danger" *ngIf="lastName.touched && !lastName.valid">Last Name is required</div>
        </div>
        <div class="form-group">
            <label for="baseSalary">Base Salary</label>
            <input 
                required min="100" 
                id="baseSalary" 
                name="baseSalary" 
                #baseSalary="ngModel" 
                type="number" 
                class="form-control" 
                [(ngModel)]="currentEmployee.baseSalary" 
                (blur)="calculateSalary()"
            >
            <div class="alert alert-danger" *ngIf="baseSalary.touched && !baseSalary.valid && !baseSalary.errors.min">Base Salary must be greater than 0</div>
        </div>
        <div class="form-group">
            <label for="deduction401k">401k Deduction</label>
            <input 
                id="deduction401k" 
                name="deduction401k" 
                #deduction401k="ngModel" 
                type="number" 
                class="form-control" 
                [(ngModel)]="currentEmployee.deduction401k" 
                (blur)="calculateSalary()"
            >
        </div>
        <div class="form-group">
            <label for="deductionMedical">Medical Insurance Deduction</label>
            <input 
                id="deductionMedical" 
                name="deductionMedical" 
                #deductionMedical="ngModel" 
                type="number" 
                class="form-control" 
                [(ngModel)]="currentEmployee.deductionMedical" 
                (blur)="calculateSalary()"
            >
        </div>
        <div class="form-group">
            <label for="deductionVoluntary">Voluntary Deduction</label>
            <input 
                id="deductionVoluntary" 
                name="deductionVoluntary" 
                #deductionVoluntary="ngModel" 
                type="number" 
                class="form-control" 
                [(ngModel)]="currentEmployee.deductionVoluntary" 
                (blur)="calculateSalary()"
            >
        </div>
        <div class="form-group">
            <label for="grossSalary">Gross Salary</label>
            <input 
                id="grossSalary" 
                name="grossSalary" 
                #grossSalary="ngModel" 
                readonly 
                type="number" 
                class="form-control" 
                [(ngModel)]="currentEmployee.grossSalary"
            >
        </div>
        <button 
            type="button"
            class="btn btn-primary" 
            (click)="addEmployee(currentEmployee, addUserForm)"
            [disabled]="!addUserForm.valid"
        >Submit</button>
    </form>
</div>

<div class="employee-view-container">
    <div class="table">
        <div class="table-row thead-dark">
            <div class="table-row-column">First Name</div>
            <div class="table-row-column">Last Name</div>
            <div class="table-row-column">Base Salary</div>
            <div class="table-row-column">401k Deduction</div>
            <div class="table-row-column">Medical Deduction</div>
            <div class="table-row-column">Voluntary Deduction</div>
            <div class="table-row-column">Gross Salary</div>
        </div>
        <div *ngFor="let emp of employees; let id = index" class="table-row" id={{id}} (click)="selectEmployee(id)">
            <div class="table-row-column">{{ emp.firstName }}</div>
            <div class="table-row-column">{{ emp.lastName }}</div>
            <div class="table-row-column">{{ emp.baseSalary }}</div>
            <div class="table-row-column">{{ emp.deduction401k }}</div>
            <div class="table-row-column">{{ emp.deductionMedical }}</div>
            <div class="table-row-column">{{ emp.deductionVoluntary }}</div>
            <div class="table-row-column">{{ emp.grossSalary }}</div>
        </div>
    </div>
</div>